<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inc.lakio.androidapppdf" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Planning"
            android:label="@string/title_activity_planning" />
        <activity
            android:name=".Spectacles"
            android:label="@string/title_activity_spectacles" />
        <activity
            android:name=".Divertissement"
            android:label="@string/title_activity_divertissement" />
        <activity
            android:name=".Partage"
            android:label="@string/title_activity_partage" />
        <activity
            android:name=".Services"
            android:label="@string/title_activity_services" />
        <activity
            android:name=".PlanningView"
            android:label="@string/title_activity_planning_view" />
        <activity
            android:name=".PlanningCreate"
            android:label="@string/title_activity_planning_create" />
        <activity
            android:name=".PlanningCreateDetail"
            android:label="@string/title_activity_planning_create_detail" />
        <activity
            android:name=".SpectacleDetail"
            android:label="@string/title_activity_spectacle_detail" >
        </activity>
    </application>

</manifest>
